@page
@model FranchiseUI.Views.Locations.IndexModel

@{ ViewData["appName"] = "Franchise Analytics"; }

<link href="/css/site.css" rel="stylesheet" />


<table class="table" id="Locations">
    <thead>
        <tr>
            <th>
                File
            </th>

            <th>
                Latitude
            </th>

            <th>
                Longitude
            </th>

            <th>
                Location Name
            </th>
            <th>

            </th>

        </tr>


    </thead>
    <tbody>


        <tr>
            <td>
                @Model.fileName;
            </td>
        @foreach (var record in Model.Records)
        {
            <td>
                @record.GeoPoint.Latitude;
            </td>

            <td>
                @record.GeoPoint.Longitude;
            </td>

            <td>
                @record.Name;
            </td>

            <td>
                @*<div class="row">
                <div class="mr-1 mb-1 col-md-12 col-lg-4">
                    <a type="button" class="btn-success btn" asp-action="Details" asp-route-id="@item.Id" alt="view"><i class="fas fa-eye"></i></a>
                </div>
                <div class="mr-1 mb-1 col-md-12 col-lg-4">
                    <a type="button" class="btn-warning btn" asp-action="Edit" asp-route-id="@item.Id" alt="edit"><i class="fas fa-edit"></i></a>
                </div>
                <div class="mr-1 col-md-12 col-lg-4">
                    <a type="button" class="btn-danger btn" asp-action="Delete" asp-route-id="@item.Id" alt="delete"><i class="fa fa-trash"></i></a>
                </div>
            </div>*@
            </td>
         }
        </tr>
        


    </tbody>
</table>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
