
@{
    ViewData["Title"] = "Create";
}

<link href="/css/site.css" rel="stylesheet" />

<div class="wrapper">
    <section class="container" id="locations">
        <article id="content">
            <header>
                <h2>Create New Location</h2>
            </header>
            <hr />
            <div class="row">
                <div class="col-md-4">

                    @*@using (Html.BeginForm("Create", "Locations", FormMethod.Post))
                    {
                        Html.ValidationSummary(true, "", new { @class = "text-danger" });

                        <div class="form-group">
                            @Html.LabelFor(x => x.Name, "Name", new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                            @Html.LabelFor(x => x.GeoPoint.Latitude, "Latitude", new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.GeoPoint.Latitude, new { @class = "form-control", @type = "number" })
                            @Html.LabelFor(x => x.GeoPoint.Longitude, "Longitude", new { @class = "control-label" })
                            @Html.TextBoxFor(x => x.GeoPoint.Longitude, new { @class = "form-control", @type = "number" })
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>

                            @Html.ActionLink("Cancel", "Index", "Locations", new { @class = "btn btn-warning" })
                        </div>
                    }*@

                </div>
                </div>
        </article>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
