

@{
    ViewData["Title"] = "Delete";
}

<link href="/css/site.css" rel="stylesheet" />

<div class="wrapper">
    <section class="container" id="locations">

        <article id="content">
            <header>
                <h2>Delete Location</h2>
            </header>
            <hr />
            @*<dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.GeoPoint.Latitude)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GeoPoint.Latitude)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.GeoPoint.Longitude)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GeoPoint.Longitude)
                </dd>
            </dl>

            <div class="row">
                <div class="col-auto">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="button btn-danger" />
                    </form>
                </div>*@

                <div class="col-auto">
                    <a type="button" class="button btn-warning" asp-action="Index">Cancel</a>
                </div>
            </div>
        </article>
    </section>
</div>
