@model ParserLibrary.Databases.ParserControl

@{
    ViewData["App"] = "Franchise Calculator";}

<main class="flex-shrink-0">
    <div class="col-12">
        <h1>Expansion Evaluation</h1>
        <p>We calculate which branch locations are furthest apart in the provided csv file to determine which areas may require more coverage. </p>

        <h1>Demo</h1>
        <p>The </p>
        <form class="row gy-2 gx-3 gy-4" asp-action="Index" asp-controller="Home" method="post">
            <div class="col-12 d-flex justify-content-start">
                <p>
                    <button id="btnSubmit" type="submit" class="btn btn-outline-dark btn-sm" onclick="myFunction()">
                        RUN DEMO
                    </button>
                </p>
            </div>
        </form>

        <table id="GuestTable" class="@(Model.solution.isPosted ? Html.Raw("show") : Html.Raw("hide"))">

            <tr>
                <td>@Html.DisplayNameFor(model => model.solution.FileName)</td>
                <td>
                    @Html.DisplayFor(model => model.solution.FileName)
                </td>
                <td></td>
            </tr>
            <tr><td></td></tr>
            <tr>
                <td>Location 1: </td>
                <td>@Html.DisplayFor(model => model.solution.Location1.Name)</td>
                <td>
                    @Html.DisplayFor(model => model.solution.Location1.GeoPoint.Latitude), @Html.DisplayFor(model => model.solution.Location1.GeoPoint.Longitude)
                </td>
            </tr>

            <tr>
                <td>Location 2: </td>
                <td>@Html.DisplayFor(model => model.solution.Location2.Name)</td>
                <td>
                    @Html.DisplayFor(model => model.solution.Location2.GeoPoint.Latitude), @Html.DisplayFor(model => model.solution.Location2.GeoPoint.Longitude)
                </td>
            </tr>
            <tr><td></td></tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.solution.Distance)</td>
                <td>
                    @Html.DisplayFor(model => model.solution.Distance) miles
                </td>
                <td></td>
            </tr>

        </table>
    </div>
</main>