@model ParserLibrary.Databases.ParserControl

@{
    ViewData["App"] = "Franchise Calculator";}

<head>
    <meta name="title" property="og:title" content="Determine which franchise locations are furthest apart." />
    <meta name="image" property="og:image" content="/img/app.png" alt="Franchise Calculator logo" />
</head>

<main class="flex-shrink-0">
    <div class="row row-cols-1">
        <h1>Expansion Evaluator</h1>
        <p>We calculate which branch locations are furthest apart in the provided csv file to determine which areas may require more coverage. </p>
            @*<form class="row gy-2 gx-3" asp-action="Index" asp-controller="Home" method="post">
            <div class="col">
                <input asp-for="CsvFile" class="form-control" value="@Model.CsvFile" placeholder="~Files/TacoBell-US-AL.csv" />
            </div>

            <div class="col-12 d-flex align-items-center justify-content-start justify-content-lg-end">
                <button id="btnSubmit" type="submit" class="btn btn-outline-dark btn-sm">
                    Generate Results
                </button>
            </div>
        </form>*@
            <div class="col-12" g-3> 
                <p>
                    Current dataset: Taco Bell US AL <br />
                    Location 1: @Model.Location1.Name at @Model.Location1.GeoPoint<br />
                    Location 2: @Model.Location2.Name at @Model.Location2.GeoPoint<br />
                    Distance: @Model.Distance miles
                </p>
            </div>
        </div>
    </div>
</main>