@model Parser.Data.Databases.ParserControl

@{
    ViewData["appName"] = "Franchise Analytics";
}

<link rel="icon" type="image/x-icon" href="~favicon.ico">

<!-- Header -->
<div id="hero-wrapper">
    <div id="header" class="container">

        <!-- Logo -->

        <h1 id="logo"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
        <img src="/images/brand.png" width="35" height="35" alt="zen icon" style="vertical-align:middle">
    Franchise
</a></h1>

        <!-- Nav -->
        <nav id="nav">
            <ul navbar-nav me-auto mb-2 mb-md-0>
                <li class="nav-item"><a href="#map">Map</a></li>
                <li class="nav-item"><a href="#statistics">Statistics</a></li>
                <li class="break nav-item"><a href="https://github.com/lfost42/Franchise">Code</a></li>
                <li class="nav-item"><a href="https://lfost42-portfolio.netlify.app/">About Me</a></li>
            </ul>
        </nav>
    </div>

    <!-- Hero -->
    <section id="hero" class="container">
        <header>
            <h2>
                Explore the Coverage<br>
                Health of a Franchise
            </h2>
        </header>
        <p>Mapping &bull; Geolocation &bull; Parsing &bull; Statistics</p>
        <ul class="actions">
            <li><a href="#promo" class="button">Get Started!</a></li>
        </ul>
    </section>
</div>

<!-- Map Section -->
<div class="wrapper">
    <div class="container">
        <div class="iframe-container" id="map">
            <article id="content">
                <iframe class="responsive-iframe" height="425px" width="90%" aria-hidden="false" src="https://www.google.com/maps/d/u/0/embed?mid=1KOCWWtSISOanuMx0WAbfQ9djhId_cIUs&ehbc=2E312F"></iframe>

            </article>
        </div>
        <p>
            <br />
            Our sample data includes 237 Taco Bell locations in Alabama. <br />
            Click the white square in the left corner of the black bar to explore map locations.
        </p>
    </div>
</div>


@*====== MAP FILTERS ======*@
<!--<ul class="actions major gx-3 gy-2">
    <li>
        <div title="View all locations in the current dataset on the map">
            <a href="#map" class="button" onclick="allLocations()">All Locations</a>
        </div>
    </li>

    <li>
        <div title="View the two locations that are farthest apart in the current dataset">
            <a href="#map" class="button" onclick="distance()">Distance Results</a>
        </div>
    </li>
</ul>-->
@*====== END MAP FILTERS ======*@
@*</div>
    </div>*@

<!-- Promo Section -->
<div id="promo-wrapper">
    <section id="promo" class="row">
        <ul>
            <h3>
                @*<li>Upload a new csv file to analyze  data</li>*@
            <li>Explore Data Table</li>
            <li>Determine which locations are farthest apart</li>
            </h3>
        </ul>
        Our demo includes 237 Taco Bell locations.<br />
        Click 'Data Table' to view and search locations.<br />
    </section>

    <ul class="actions col-12 mt-4">

        @*====== TODO VIEW LOCATIONS ======*@
        <li>
            <div class="col" title="View the current list of locations">
                @Html.ActionLink("Data Table", "Index", "Locations", null, new { @class = "button" })
            </div>
        </li>
        @*====== END VIEW LOCATIONS ======*@



        @*====== DISTANCE BUTTON ======*@
        <li>
            <form class="col" asp-action="Index" asp-controller="Home" asp-fragment="promo" method="post">
                <div id="dvScroll" title="Determine which locations in the current data set are farthest apart.">
                    <button type="submit" class="button">
                        Distance Function
                    </button>
                </div>
            </form>
        </li>
    </ul>

    <div class="distance_position">
        <table class="tabledistance @(Model.solution.isPosted ? Html.Raw("show") : Html.Raw("hide"))">
            <tr>
                <td>@Html.DisplayNameFor(model => model.solution.FileName):</td>
                <td>
                    @Html.DisplayFor(model => model.solution.FileName)
                </td>
            </tr>

            <tr>
                <td class="head">Location 1: </td>
                <td>@Html.DisplayFor(model => model.solution.Location1.Name)</td>
                <td>
                    (@Html.DisplayFor(model => model.solution.Location1.GeoPoint.Latitude), @Html.DisplayFor(model => model.solution.Location1.GeoPoint.Longitude))
                </td>
            </tr>

            <tr>
                <td class="head">Location 2: </td>
                <td>@Html.DisplayFor(model => model.solution.Location2.Name)</td>
                <td>
                    (@Html.DisplayFor(model => model.solution.Location2.GeoPoint.Latitude), @Html.DisplayFor(model => model.solution.Location2.GeoPoint.Longitude))
                </td>
            </tr>

            <tr>
                <td class="head">@Html.DisplayNameFor(model => model.solution.Distance):</td>
                <td>
                    @Html.DisplayFor(model => model.solution.Distance) miles
                </td>
            </tr>
        </table>
    </div>
    @*====== END DISTANCE BUTTON ======*@
</div>


<!-- Statistics Section -->
<div class="wrapper">
    <section class="container" id="statistics">
        <header class="major">
            <h2>Statistics</h2>
        </header>

        <div class="row">
            <section class="col-12 col-xs-12 col-sm-12 col-md-4 feature image-center">
                <div class="image-wrapper">
                    <img src="images/pic03.jpg" alt="whisker chart placeholder" onclick="statistics()" />
                </div>
                <p>Placeholder</p>
            </section>
            @*<section class="col-12 col-xs-12 col-sm-12 col-md-4 feature image-center">
                    <div class="image-wrapper">
                        <img src="images/pic04.jpg" alt="bubble graph placeholder" onclick="statistics()" />
                    </div>
                    <p>Bubble Graph</p>
                </section>
                <section class="col-12 col-xs-12 col-sm-12 col-md-4 feature image-center">
                    <div class="image-wrapper">
                        <img src="images/pic05.jpg" alt="heatmap placeholder" onclick="statistics()" />
                    </div>
                    <p>Heatmap</p>
                </section>*@
        </div>
        <ul class="actions major">
            <li><div title="Export charts as a png file."><a href="#statistics" class="button" onclick="exportStatistics()">Export Charts</a></div></li>
        </ul>
    </section>
</div>


<script>
    @*====== STATISTICS ======*@
    function statistics() {
        alert("Chart to display live statistics as the datastet is modified");
    }
    function exportStatistics() {
        alert("User may export the charts as a png.");
    }</script>